body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.noMatch {
  margin-top: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: right;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navbar ul li a:hover {
  color: skyblue;
}

.white a{
  color: white;
}

.white a:hover {
  color: skyblue;
}

.footerList {
  padding-top: 20px !important;
}

.footerList a{
  color: white !important;
}

.footerList a:hover {
  color: skyblue !important;
}

.section {
 display: flex;
 flex-direction: column;
 /* align-items: center; */
 justify-content: center;
 /* text-align: center; */
 width: 100%;
 height: 100vh;
 /* scroll-snap-align: start; */
}